body {
  margin: 0;
  padding: 0;
  /* background-color: #13172f; */
  height: 100svh;
}

canvas {
  display: block;
  background-image: linear-gradient(
    107deg,
    #20627e -10.39%,
    #1b5178 22.53%,
    #0f4272 51.35%,
    #172b53 80.43%,
    #112a69 111.51%
  );
  width: 100%;
  height: 100%;
}
